@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Personal Activity Tracker</h1>
    <p>Feel free to use this webapp to track all of your most important day-to-day activities. Stay focused and on top of all your tasks!</p>
</div>
