@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Personal Activity Tracker</h1>
    <p>Feel free to use this webapp to track how physically fit you're staying in your day-to-day life. Keep exercising!</p>
</div>
